/**********************/
/******** Main ********/
/**********************/

/* Fonts */
// font-family: 'Calligraffitti', cursive;
// font-family: 'Open Sans', Arial, sans-serif;
// font-family: 'Sarabun', sans-serif;
// font-family: 'Amatic SC', cursive;
// font-family: 'Satisfy', cursive;
// font-family: 'Over the Rainbow', cursive;


/* Variables */
$black: #000000;
$darkgrey: lighten($black, 40%);
$lightgrey: lighten($black,80%);
$white: #FFFFFF;
$link: #0496FF;
$nav-active: #FFFFFF;
$nav-inactive: darken($nav-active, 20%);
$nav-hover: darken($nav-active, 40%);

/**********************/
/****** header ********/
/**********************/
html {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  overflow-x: hidden;
}

body{
    width: 100vw;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0;
}
