---
---
// @import "main";
/**********************/
/******** Main ********/
/**********************/

/* Variables */
$black: #000000;
$darkgrey: lighten($black, 40%);
$lightgrey: lighten($black,80%);
$white: #FFFFFF;
$link: #0496FF;
$nav: #FFFFFF;

/**********************/
/******** Nav *********/
/**********************/

body{
    width: 100vw;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0;
}

header {
    display: flex;
    flex-flow: column nowrap;

    background:
        linear-gradient(
            rgba(0, 0, 0, 0.35),
            rgba(0, 0, 0, 0.35)
            ),
    url('/assets/img/tom-grimbert-665112-unsplash_modified.png');
    background-repeat: no-repeat;

    height: 90vh;
    width: 100vw;
    background-position: right top;

    nav {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        background-image: linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,0));
        height: 10vh;

        a{
            padding: 1em;
            color: $nav;
            text-decoration: none;
            font-family: arial;
        }
    }

    #header-content {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-content: center;
        height: 80vh;

        #tagline {
            text-align: center;
            color: $white;
            border: none;
        }
    }

}
.image-author {
    align-self: flex-end;

    a{
        background-color:black;
        color:white;
        text-decoration:none;
        padding:4px 6px;
        font-family: Arial, sans-serif;
        font-size:12px;
        font-weight:bold;
        line-height:1.2;
        display:inline-block;
        border-radius:3px;
    }
}
